@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans SC";
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap')
      format("truetype-variations");
    font-weight: 100 900;
    font-display: swap;
  }

  h2 {
    @apply text-xl font-medium;
  }
}

@layer components {
}

@layer utilities {
  .text-shadow {
    text-shadow: 0 0 12px #00000075;
  }
  .glass {
    @apply bg-white/40 backdrop-blur-xl shadow-sm;
  }
  .dark-mode .glass {
    @apply bg-stone-800/30 backdrop-blur-xl shadow-sm;
  }
  .glass-border {
    @apply bg-white/40 backdrop-blur-xl  border-white/20 border-2 shadow-sm;
  }
  .dark-mode .glass-border {
    @apply bg-zinc-900/20 backdrop-blur-xl border-zinc-100/10 border-2 shadow-sm;
  }

  .icons {
    @apply text-zinc-800/50;
  }
  .dark-mode .icons {
    @apply text-zinc-300;
  }
  .drop-shadow-primary-blue:hover{
    filter: drop-shadow(0 0 2.5em #2760f1);
  }
  /* pages */
    .content h1 {
      @apply text-primary-blue text-2xl font-medium mb-2 mt-6;
    }
  
    .content h2 {
      @apply text-primary-blue text-xl font-medium mb-2 mt-6;
    }
  
    .content h3 {
      @apply text-primary-blue text-lg font-medium mb-2 mt-6;
    }
  
    .content p {
      @apply text-lg text-zinc-500 leading-7;
    }
  
    .dark-mode .content p {
      @apply text-zinc-400;
    }
  
    .content ul li {
      @apply list-disc text-zinc-500 mb-1 text-lg;
    }
  
    .content ol li {
      @apply list-decimal list-inside text-zinc-500 mb-1 text-lg;
    }
  
    .content strong {
      @apply text-primary-blue/80 font-medium;
    }
  
    .content img {
      @apply w-full h-auto my-6;
    }
  
    blockquote {
      @apply border-l-2 border-zinc-300 pl-4 my-4;
    }
  
    .content p a {
      @apply underline underline-offset-4 decoration-1 decoration-zinc-400/50 transition ease-in-out;
    }
  
    .content p a:hover {
      @apply decoration-primary-blue/80 decoration-2;
    }
  
    .content ul {
      @apply list-inside
    }
}
